# EDA

Understand the data distribution and do some cleaning if needed

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('darkgrid')
pd.set_option('display.max_colwidth', 0) # to wrap text in df

In [2]:
train_df = pd.read_csv('data/train.csv')
test_df = pd.read_csv('data/test.csv')
train_df.shape, test_df.shape

((76518, 38), (51012, 37))

First, we check out if there are any missing values

In [3]:
train_df.isnull().sum().sum(), test_df.isnull().sum().sum()

(0, 0)

Phew! No missing data. That's a good thing.

## Descriptive analytics

First we check the data types of each column

In [5]:
train_df.dtypes

id                                                int64
Marital status                                    int64
Application mode                                  int64
Application order                                 int64
Course                                            int64
Daytime/evening attendance                        int64
Previous qualification                            int64
Previous qualification (grade)                    float64
Nacionality                                       int64
Mother's qualification                            int64
Father's qualification                            int64
Mother's occupation                               int64
Father's occupation                               int64
Admission grade                                   float64
Displaced                                         int64
Educational special needs                         int64
Debtor                                            int64
Tuition fees up to date                           int64
Gender                                            int64
Scholarship holder                                int64
Age at enrollment                                 int64
International                                     int64
Curricular units 1st sem (credited)               int64
Curricular units 1st sem (enrolled)               int64
Curricular units 1st sem (evaluations)            int64
Curricular units 1st sem (approved)               int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    int64
Curricular units 2nd sem (credited)               int64
Curricular units 2nd sem (enrolled)               int64
Curricular units 2nd sem (evaluations)            int64
Curricular units 2nd sem (approved)               int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                            object
dtype: object

Let's rename a few columns for better readability

In [ ]:
rename = {'Merial status':'marital_status',}

Next, we look at a couple of rows of the data

In [6]:
train_df.head(2)

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout

In [4]:
train_df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,76518.0,38258.500000,22088.988286,0.00,19129.250000,38258.500000,57387.750000,76517.000
Marital status,76518.0,1.111934,0.441669,1.00,1.000000,1.000000,1.000000,6.000
Application mode,76518.0,16.054419,16.682337,1.00,1.000000,17.000000,39.000000,53.000
Application order,76518.0,1.644410,1.229645,0.00,1.000000,1.000000,2.000000,9.000
Course,76518.0,9001.286377,1803.438531,33.00,9119.000000,9254.000000,9670.000000,9991.000
Daytime/evening attendance,76518.0,0.915314,0.278416,0.00,1.000000,1.000000,1.000000,1.000
Previous qualification,76518.0,3.658760,8.623774,1.00,1.000000,1.000000,1.000000,43.000
Previous qualification (grade),76518.0,132.378766,10.995328,95.00,125.000000,133.100000,140.000000,190.000
Nacionality,76518.0,1.226600,3.392183,1.00,1.000000,1.000000,1.000000,109.000
Mother's qualification,76518.0,19.837633,15.399456,1.00,1.000000,19.000000,37.000000,44.000
Father's qualification,76518.0,23.425076,14.921164,1.00,4.000000,19.000000,37.000000,44.000
Mother's occupation,76518.0,8.583196,17.471591,0.00,4.000000,7.000000,9.000000,194.000
Father's occupation,76518.0,8.882172,16.803940,0.00,5.000000,7.000000,9.000000,195.000
Admission grade,76518.0,125.363971,12.562328,95.00,118.000000,124.600000,132.000000,190.000
Displaced,76518.0,0.569265,0.495182,0.00,0.000000,1.000000,1.000000,1.000
Educational special needs,76518.0,0.003738,0.061023,0.00,0.000000,0.000000,0.000000,1.000
Debtor,76518.0,0.071382,0.257463,0.00,0.000000,0.000000,0.000000,1.000
Tuition fees up to date,76518.0,0.893646,0.308292,0.00,1.000000,1.000000,1.000000,1.000
Gender,76518.0,0.315821,0.464845,0.00,0.000000,0.000000,1.000000,1.000
Scholarship holder,76518.0,0.247393,0.431500,0.00,0.000000,0.000000,0.000000,1.000
Age at enrollment,76518.0,22.278653,6.889241,17.00,18.000000,19.000000,23.000000,70.000
International,76518.0,0.006626,0.081130,0.00,0.000000,0.000000,0.000000,1.000
Curricular units 1st sem (credited),76518.0,0.188871,1.175296,0.00,0.000000,0.000000,0.000000,20.000
Curricular units 1st sem (enrolled),76518.0,5.891516,1.671776,0.00,5.000000,6.000000,6.000000,26.000
Curricular units 1st sem (evaluations),76518.0,7.352362,3.508292,0.00,6.000000,7.000000,9.000000,45.000
Curricular units 1st sem (approved),76518.0,4.178520,2.687995,0.00,2.000000,5.000000,6.000000,26.000
Curricular units 1st sem (grade),76518.0,9.995862,5.264224,0.00,10.666667,12.166667,13.314286,18.875
Curricular units 1st sem (without evaluations),76518.0,0.057960,0.408490,0.00,0.000000,0.000000,0.000000,12.000
Curricular units 2nd sem (credited),76518.0,0.137053,0.933830,0.00,0.000000,0.000000,0.000000,19.000
Curricular units 2nd sem (enrolled),76518.0,5.933414,1.627182,0.00,5.000000,6.000000,6.000000,23.000
Curricular units 2nd sem (evaluations),76518.0,7.234468,3.503040,0.00,6.000000,7.000000,9.000000,33.000
Curricular units 2nd sem (approved),76518.0,4.007201,2.772956,0.00,1.000000,5.000000,6.000000,20.000
Curricular units 2nd sem (grade),76518.0,9.626085,5.546035,0.00,10.000000,12.142857,13.244048,18.000
Curricular units 2nd sem (without evaluations),76518.0,0.062443,0.462107,0.00,0.000000,0.000000,0.000000,12.000
Unemployment rate,76518.0,11.520340,2.653375,7.60,9.400000,11.100000,12.700000,16.200
Inflation rate,76518.0,1.228218,1.398816,-0.80,0.300000,1.400000,2.600000,3.700
GDP,76518.0,-0.080921,2.251382,-4.06,-1.700000,0.320000,1.790000,3.510